h1{
    color: #cd4c5d;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 50px;
}
::ng-deep {
p{
    color: #cf7f8e;
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 18px;
}
}